
.card-title {
	font-weight: 400;
	font-family: 'Helvetica Neue';
}

#backgroundImg {
	margin: 0;
	padding: 0;
}

#carousel {
    width: 100%;
    height: 100%;
  	background-image: linear-gradient(to right, purple , pink);
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}


#card-background {
	background-color: #ffcde3;
	display: flex;
	padding: 0px;
}

.panel-heading {
       background: #ffcde3;
       padding-top: 70px;
       padding-bottom: 30px;
    }

#card-services, #card-row {
	margin: auto;
}


.card-body, .panel-title {
	text-align: center;
	font-family: 'Helvetica Neue';
	background-color: transparent;
	border: none;
	
}

.card-body > h2 {
	padding-top: 30px;
}