
.card-title {
	font-weight: 400;
	font-family: big-caslon-fb, serif;
	font-style: normal;
	text-transform: none !important;
}

#backgroundImg {
	margin: 0%;
	padding: 0%;
}

#carousel {
    width: 100%;
    height: 100%;
  	background-image: linear-gradient(to right, purple , pink);
    
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}


#card-background {
	background-color: #ffcde3;
	display: flex;
	padding: 0px;
}

.panel-heading {
       background: #ffcde3;
       padding-top: 70px;
       padding-bottom: 30px;
    }

#card-services, .row {
	margin: auto;
	background-color: transparent;
	border: none;
}


#card-background > .card-body, .panel-title {
	text-align: center;
	font-family: big-caslon-fb, serif;
	background-color: transparent;
	border: none;
	
}

.card-body > h2 {
	padding-top: 30px;
	padding-bottom: 40px;
	font-family: big-caslon-fb, serif;
	text-align: center;
}

#card-quotes {
	margin-top: 3%;
	padding-left: 10%;
	padding-right: 10%;
	
}

div > .card {
	margin: auto;
	padding-top: 50px;
	border: none;
	background-color: transparent;
}

.card-body > p {
	font-family: big-caslon-fb, serif;

	font-size: 25px;
	border: none;
}


.card-footer {
	border: none;
	
}

#footer-card {
	border:none;
	font-family: big-caslon-fb, serif;
	font-size: 45px;
	margin-top: 5%;

}

#contact {
	margin-left: 10%;
	margin-top: 2%;
}

